// primary
$color-primary: #3a608f;
$color-on-primary: #fff;
$color-primary-container: #d3e4ff;
$color-on-primary-container: #001c38;

// secondary
$color-secondary: #216a4d;
$color-on-secondary: #fff;
$color-secondary-container: #a9f2cd;
$color-on-secondary-container: #002114;

// tertiary
$color-tertiary: #37618e;
$color-on-tertiary: #fff;
$color-tertiary-container: #d2e4ff;
$color-on-tertiary-container: #001c37;

// error
$color-error: #904a47;
$color-on-error: #fff;
$color-error-container: #ffdad7;
$color-on-error-container: #3b0809;

// surface
$color-surface: #f8f9ff;
$color-on-surface: #191c20;
$color-surface-variant: #dfe2eb;
$color-on-surface-varient: #43474e;
$color-surface-dim: #d8dae0;
$color-surface-bright: #f8f9ff;
$color-surface-container-lowest: #fff;
$color-surface-container-low: #f2f3fa;
$color-surface-container: #ecedf4;
$color-surface-container-high: #e7e8ee;
$color-surface-container-highest: #e1e2e8;

// outline
$color-outline: #73777f;
$color-outline-variant: #c3c6cf;
